
@{
    ViewBag.Title = "Distribuidora Limena - Cpanel";
}
<!-- PAGE CONTENT-->
<br /><br /><br />
<div class="page-content--bgf7">
    <!-- WELCOME-->
    <section class="welcome p-t-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="title-4">
                        Panel de administracion

                    </h1>
                    <a href="@Url.Action("Cerrar_sesion", "Home")" class="btn btn-outline-secondary text-right">
                        <i class="fa fa-arrow-circle-o-left"></i>&nbsp; Cerrar sesion
                    </a>
                    <hr class="line-seprate">
                </div>
            </div>
        </div>
    </section>
    <!-- END WELCOME-->
    <!-- STATISTIC-->
    <section class="statistic statistic2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item statistic__item--green">
                        <h2 class="number">@ViewBag.clientesE</h2>
                        <span class="desc">Clientes encuestados</span>
                        <div class="icon">
                            <i class="zmdi zmdi-account-o"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item statistic__item--red">
                        <h2 class="number">@ViewBag.clientesP</h2>
                        <span class="desc">Clientes pendientes</span>
                        <div class="icon">
                            <i class="zmdi zmdi-account-o"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item statistic__item--blue">
                        <h2 class="number">@ViewBag.totalCli</h2>
                        <span class="desc">Total de clientes</span>
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item statistic__item--orange">
                        <h2 class="number">@ViewBag.clienteCe</h2>
                        <span class="desc">Cliente cerrado</span>
                        <div class="icon">
                            <i class="zmdi zmdi-airplane-off"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="statistic__item statistic__item--orange">
                        <h2 class="number">@ViewBag.clienteNoVisita</h2>
                        <span class="desc">Cliente no se visita</span>
                        <div class="icon">
                            <i class="zmdi zmdi-crop-square"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END STATISTIC-->
    <!-- STATISTIC CHART-->
    <section class="statistic-chart">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">Estadisticas</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <!-- TOP CAMPAIGN-->
                    <div class="top-campaign">
                        <h3 class="title-3 m-b-30">Vendedores con mas clientes encuestados</h3>
                        <div class="table-responsive">
                            <table class="table table-top-campaign">
                                <tbody>
                                    @foreach (var item in ViewBag.Topfive)
                                    {
                                        
                                    <tr>
                                        <td>@item.Vendedor</td>
                                        <td>@item.count</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END TOP CAMPAIGN-->
                </div>
                <div class="col-md-6 col-lg-6">
                    <!-- CHART PERCENT-->
                    <div class="chart-percent-2">
                        <h3 class="title-3 m-b-30">Estado de encuestas</h3>
                        <div class="chart-wrap">
                            <canvas id="percent-chart2"></canvas>
                            <div id="chartjs-tooltip">
                                <table></table>
                            </div>
                        </div>
                        <div class="chart-info">
                            <div class="chart-note">
                                <span class="dot dot--blue"></span>
                                <span>Finalizadas</span>
                            </div>
                            <div class="chart-note">
                                <span class="dot dot--red"></span>
                                <span>Pendientes</span>
                            </div>
                        </div>
                    </div>
                    <!-- END CHART PERCENT-->
                </div>
                <div class="col-md-12 col-lg-12">
                    <div class="au-card m-b-30">
                        <div class="au-card-inner">
                            <h3 class="title-2 m-b-40">Estado de encuestas por vendedor</h3>
                            <canvas id="barChart"></canvas>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END STATISTIC CHART-->
    <!-- DATA TABLE-->
    <section class="p-t-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title-5 m-b-35">Lista de vendedores</h3>
                    <div class="table-data__tool">
                        <div class="table-data__tool-left">

                        </div>
                        <div class="table-data__tool-right">
                        </div>
                    </div>
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Correo</th>
                                    <th>Telefono</th>
                                    
                                    <th>Estado de encuestas</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                 
                                @foreach (var vendedor in ViewBag.listaV) { 
                                <tr class="tr-shadow">
                                   
                                    <td>@vendedor.nomSAP_vendedor</td>
                                    <td>
                                        <span class="block-email">@vendedor.correo</span>
                                    </td>
                                    <td class="desc">@vendedor.telefono</td>
                                   
                                    <td>
                                                                              
                                                <div class="au-progress">
                                                    <div class="au-progress__bar">
                                                        <div class="au-progress__inner js-progressbar-simple" role="progressbar" data-transitiongoal="@vendedor.ID_vendedor">
                                                            <span class="au-progress__value js-value"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                       
                                    </td>
                 
                                    <td>
                                        <div class="table-data-feature">
                                            <a class="item" data-toggle="tooltip" data-placement="top" title="Ver detalle de encuestas" href="@Url.Action("Encuestas", "Home",new { id= vendedor.idSAP_vendedor})"><i class="zmdi zmdi-more"></i></a>

                                        </div>
                                    </td>
                                </tr>
                                }
                                <tr class="spacer"></tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END DATA TABLE-->
    <!-- COPYRIGHT-->
    <section class="p-t-60 p-b-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2018 Distribuidora Limena Inc. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END COPYRIGHT-->
</div>


